body
	font-family: Helvetica

.scheduler
	position: relative
	margin-top: 50px

	.btn-change-view 
		margin-top: -20px

	*
		margin: 0
		padding: 0

	ul
		list-style: none

	.sc-event-list 
		list-style: none
		margin: 0
		padding: 0

	.sc-event-time 
		position: absolute
		top: 0
		left: 0
		bottom: 0
		vertical-align: top
		text-align: center

	.sc-event 
		position: relative
		box-sizing: border-box
		cursor: pointer


	.sc-event-label
		font-size: 90%
		color: #333
		margin: 10px 0 5px

	&.is-dayview
		.sc-event-time
			border-right: 1px solid #ccc
			width: 40px
			padding: 5px 2px

		.sc-event
			margin-top: -1px
			border: 1px solid #ccc
			padding: 10px


		.sc-event-content 
			margin-left: 50px
			display: inline-block

		.sc-time-axis-row
			display: none

	&.is-weekview
		.sc-content
			padding-left: 50px

		timePadding = 5px

		.sc-event-tuesday
			margin-left: 20%
		.sc-event-wednesday
			margin-left: 40%
		.sc-event-thursday
			margin-left: 60%
		.sc-event-friday
			margin-left: 80%

		.sc-event-time
			font-size: 50%
			right: 0
			left: 0
			padding: 10px


		.sc-event-label
			display: none

		.sc-event
			width: 19%
			text-align: center
			background: #f1f1f1
			position: absolute
			box-sizing: border-box
			padding: 0

		.sc-event-content
			margin: 10px 0

		.sc-event-time-end 
			display: block
			right: timePadding
			bottom: timePadding
			text-align: right
			position: absolute

		.sc-event-time-start 
			display: block
			text-align: left
			position: absolute
			top: timePadding
			left: timePadding

	.sc-event-time-end 
		display: none

	.sc-event-extra p
		margin: 0

	.sc-time-axis
		position: absolute
		top: 0
		left: 0
		right: 0

	.sc-time-axis-row
		box-sizing: border-box
		border-bottom: 1px solid #CCC

	.sc-event-extra
		margin-top: 10px
		display: none

	.sc-event.active .sc-event-extra 
		display: block